*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Cabin', sans-serif;
    font-family: 'Lobster', cursive;
}
.logo{
    font-weight: 400;
}

.principal{
    padding-top: 5rem;
    float:left;
    width:400px;
    height:400px; 
    margin-right:10px;

}

.titulo{
    width: 425px;
    height: 90px;
    font-family: 'Cabin', sans-serif;
    font-weight: 700;
    
}
hr {
    color: black;
    background-color: black;
    border: 0;
    opacity: 1;
    width: 50%;

  }
  p{
    font-family: 'Cabin', sans-serif;
    font-weight: 400;
  }
 

